<!DOCTYPE html>
<html>
<head>
    <script src="../../common/common.js" type="text/javascript"></script>
    <style type="text/css">
        html, body { overflow: hidden; width: 350px; height: 410px; margin:0; padding:0; }
    </style>
</head>
<body scroll="no">
<div id="container" style="position: absolute; top: 0px; left: 0px; height: 100%; width: 100%;">
    <iframe id="iframe" width="350" height="410" src="about:blank" frameborder="0" scrolling="no"></iframe>
    <img id="loading-placeholder" src="" style="position: absolute; top: 0px; left: 0px; width: 350px;" />
    <img id="loading-image" src="" style="position: absolute; top: 197px; left: 167px;" />
</div>
<script type="text/javascript" src="window.js"></script>
</body>
</html>